.container {
    position: relative;
    border: 2px solid black;
    max-width: 566px;
    height: 740px;
    padding: 32px 0 49px 53px;
    border-radius: 67px;
    background-color: #1c123f;
}

.card--logo {
    border-radius: 50%;
    width: 257px;
    height: 257px;
    margin-left: 88px;
    transition: ease-in-out;
    animation: rotate 4s linear infinite;
    box-shadow: 0 0 51px #8572c4;
}
   
@keyframes rotate {
   
   to {
        box-shadow: 0 0 50px #d15656;
    }
}

.about--h {
    margin-left: 150px;
    color: #ffe;
    margin-top: 23px;
    font-size: 2rem;
}

.about--p {
    color: #fff;
    font-weight: 560;
    margin-top: 35px;
    margin-right: 30px;
}


.skills-h {
    margin-left: 150px;
    color: #ffe;
    font-size: 2rem;
}

.skill--p {
    color: white;
    font-weight: 560;
    line-height: 1.5;
    margin-top: 6px;
}

.footer--icons {
    display: flex;
    width: 100%;

}

.footer--icons > li {
    list-style: none;
    margin-right: 89px;
    font-size: 2em;
    transition: 1.2s ease-in-out;
    border-radius: 50%;
}

.footer--icons > li:hover {
    box-shadow: 0 0 38px #493494;

}
.card--footer {
    
    padding-left: 89px;
    margin-top: 70px;
    margin-right: 39px;
}